{% extends "pages/base_atividades.html" %} {% load static %} {% block title%} SWCAR - Lista de Atividades {% endblock %}
{% block main %}

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light menu">
            <div class="container">
                <a class="navbar-brand" href="index.html">SWCAR</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% static 'index.html' %}" >Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="turmas.html">Turmas</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="atividades.html">Atividades
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="ranking.html">Ranking</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section id="conteudoAtividade">
            <div class="container">
                <div class="p-3 mb-2 bg-primary text-white">
                    <div class="row">
                        <h1 class="mx-auto"> Lista de Atividades </h1>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <table>
                        <thead>
                            <tr>
                                <td colspan="5">
                              
                                </td>
                            </tr>
                        </thead> 
                            <tr>
                                <div class = "atividade ">
                                    {% for atividade in atividades%}
                                        <td>

                                            <div class="subtd">
                                                <h5> {{atividade.nome}} </h5>
                                                {% if atividade.trofeu == 3 %}
                                                    <img  class = "mx-auto d block" src="{% static 'img/trophy3.svg' %}" alt = "icon name" />
                                                {% elif atividade.trofeu == 5 %}
                                                    <img  class = "mx-auto d block" src="{% static 'img/trophy2.svg' %}" alt ="icon name" />
                                                {% else %}
                                                    <img  class = "mx-auto d block" src="{% static 'img/trophy.svg' %}" alt = "icon name" />
                                                {% endif %}   
                                            </div>

                                            <div class="subtd">
                                                <p>{{atividade.descricao}}</p>
                                            </div>

                                            <div class="subtd">
                                                <p>  <i class="far fa-clock"> </i> Prazo: {{atividade.prazo|date:"d/m/y, D G:i"}}</p> 
                                            </div>

                                            <div class= "subtd">
                                                {% if atividade.em_equipe == True %}
                                                    <span class="badge badge-warning">Em equipe</span>
                                                {% else %}
                                                    <span class="badge badge-warning">Individual</span>
                                                {% endif %}
                                            </div>

                                        </td>
bugs and test
bugs and test
bugs and test
bugs and test
                    </table>
                </div>
            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script> {% endblock %}